#Examen

In [3]:
import pandas as pd
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/IA/Examen/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Cargar datos

In [4]:
file_name = 'data.csv'
Data = pd.read_csv(file_path + file_name)

Data=Data.sort_index()
print(Data.head)

<bound method NDFrame.head of      age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0     28    1   2      130  132   0       2     185     0      0.0     ?  ?
1     29    1   2      120  243   0       0     160     0      0.0     ?  ?
2     29    1   2      140    ?   0       0     170     0      0.0     ?  ?
3     30    0   1      170  237   0       1     170     0      0.0     ?  ?
4     31    0   2      100  219   0       1     150     0      0.0     ?  ?
..   ...  ...  ..      ...  ...  ..     ...     ...   ...      ...   ... ..
289   52    1   4      160  331   0       0      94     1      2.5     ?  ?
290   54    0   3      130  294   0       1     100     1      0.0     2  ?
291   56    1   4      155  342   1       0     150     1      3.0     2  ?
292   58    0   2      180  393   0       0     110     1      1.0     2  ?
293   65    1   4      130  275   0       1     115     1      1.0     2  ?

    thal  num
0      ?           0
1      ?           0
2      ?           0
3      6           0
4      ?           0
..   ...         ...
289    ?           1
290    ?           1
291    ?           1
292    7           1
293    ?           1

[294 rows x 14 columns]>

In [5]:
file_name = 'data1.csv'
Data1 = pd.read_csv(file_path + file_name)

Data1=Data1.sort_index()
print(Data1.head)

<bound method NDFrame.head of      age  sex   cp trestbps chol fbs  restecg thalach exang  oldpeak slope ca  \
0     28  1.0  2.0      130  132   0      2.0     185     0      0.0     ?  ?
1     29  1.0  2.0      120  243   0      0.0     160     0      0.0     ?  ?
2     29  1.0  2.0      140    ?   0      0.0     170     0      0.0     ?  ?
3     30  0.0  1.0      170  237   0      1.0     170     0      0.0     ?  ?
4     31  0.0  2.0      100  219   0      1.0     150     0      0.0     ?  ?
..   ...  ...  ...      ...  ...  ..      ...     ...   ...      ...   ... ..
289   52  1.0  4.0      160  331   0      0.0      94     1      2.5     ?  ?
290   54  0.0  3.0      130  294   0      1.0     100     1      0.0     2  ?
291   56  1.0  4.0      155  342   1      0.0     150     1      3.0     2  ?
292   58  0.0  2.0      180  393   0      0.0     110     1      1.0     2  ?
293   65  1.0  4.0      130  275   0      1.0     115     1      1.0     2  ?

    thal  num
0      ?           0
1      ?           0
2      ?           0
3      6           0
4      ?           0
..   ...         ...
289    ?           1
290    ?           1
291    ?           1
292    7           1
293    ?           1

[294 rows x 14 columns]>

In [6]:
file_name = 'data2.csv'
Data2 = pd.read_csv(file_path + file_name)

Data2=Data2.sort_index()
print(Data2.head)

<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     28    1   2       130   132    0        2      185      0      0.0
1     29    1   2       120   243    0        0      160      0      0.0
2     29    1   2       140   243    0        0    17000      0      0.0
3     30    0   1       170   237    0        1      170      0      0.0
4     31    0   2       100   219    0        1      150      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
289   52    1   4       160   331    0        0       94      1      2.5
290   54    0   3       130   294    0        1      100      1      0.0
291   56    1   4       155   342    1        0      150      1      3.0
292   58    0   2       180   393    0        0      110      1      1.0
293   65    1   4       130   275    0        1      115      1      1.0

     slope  ca   thal  num
0        0   0    6.0           0
1        1   0    6.0           0
2        2   0    3.0           0
3        3   0    6.0           0
4        4   0    3.0           0
..     ...  ..    ...         ...
289    289   0 -167.4           1
290    290   0 -168.0           1
291    291   0 -168.6           1
292    292   0 -169.2           1
293    293   0 -169.8           1

[294 rows x 14 columns]>

In [7]:
file_name = 'data3.csv'
Data3 = pd.read_csv(file_path + file_name)

Data3=Data3.sort_index()
print(Data3.head)

<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     28    1   2       130   132    0        2      185      0      0.0
1     29    1   2       120   243    0        0      160      0      0.0
2     29    1   2       140   243    0        0      170      0      0.0
3     30    0   1       170   237    0        1      170      0      0.0
4     31    0   2       100   219    0        1      150      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
289   52    1   4       160   331    0        0       94      1      2.5
290   54    0   3       130   294    0        1      100      1      0.0
291   56    1   4       155   342    1        0      150      1      3.0
292   58    0   2       180   393    0        0      110      1      1.0
293   65    1   4       130   275    0        1      115      1      1.0

     slope  ca   thal  num
0        0   0    6.0           0
1        1   0    6.0           0
2        2   0    3.0           0
3        3   0    6.0           0
4        4   0    3.0           0
..     ...  ..    ...         ...
289    289   0 -167.4           1
290    290   0 -168.0           1
291    291   0 -168.6           1
292    292   0 -169.2           1
293    293   0 -169.8           1

[294 rows x 14 columns]>

In [8]:
file_name = 'data4.csv'
Data4 = pd.read_csv(file_path + file_name)

Data4=Data4.sort_index()
print(Data4.head)

<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     28    1   2       130   132    0        2      185      0      0.0
1     29    1   2       120   243    0        0      160      0      0.0
2     29    1   2       140   245    0        0      170      0      0.0
3     30    0   1       170   237    0        1      170      0      0.0
4     31    0   2       100   219    0        1      150      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
289   52    1   4       160   331    0        0       94      1      2.5
290   54    0   3       130   294    0        1      100      1      0.0
291   56    1   4       155   342    1        0      150      1      3.0
292   58    0   2       180   393    0        0      110      1      1.0
293   65    1   4       130   275    0        1      115      1      1.0

     num
0             0
1             0
2             0
3             0
4             0
..          ...
289           1
290           1
291           1
292           1
293           1

[294 rows x 11 columns]>

##Analizar

In [19]:
Data = Data.replace('?', np.nan)

print(Data.isnull().sum())
print(Data.describe())

#No es optimo usar este por la gran cantidad de valores nulos en el dataset existentes dados por el caracter
#"?", el cual se transformo como valor nulo para poder contabilizar de mejor manera valores nulos en el dataset
#Esto se detecto visualizando el dataset y analizando los caracteres invalidos.

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64
              age         sex          cp     oldpeak  num
count  294.000000  294.000000  294.000000  294.000000  294.000000
mean    47.826531    0.724490    2.982993    0.586054    0.360544
std      7.811812    0.447533    0.965117    0.908648    0.480977
min     28.000000    0.000000    1.000000    0.000000    0.000000
25%     42.000000    0.000000    2.000000    0.000000    0.000000
50%     49.000000    1.000000    3.000000    0.000000    0.000000
75%     54.000000    1.000000    4.000000    1.000000    1.000000
max     66.000000    1.000000    4.000000    5.000000    1.000000

In [17]:
Data1 = Data1.replace('?', np.nan)

print(Data1.isnull().sum())
print(Data1.describe())
#De igual manera, no es optimo por los valores nulos que se encuentran en el dataset
#y por los caracteres invalidos que se pueden observar en el dataset 'data1'

age             0
sex            23
cp             23
trestbps       24
chol           33
fbs            21
restecg        31
thalach        32
exang          32
oldpeak        18
slope         190
ca            291
thal          266
num             0
dtype: int64
              age         sex          cp     restecg     oldpeak  num
count  294.000000  271.000000  271.000000  263.000000  276.000000  294.000000
mean    47.826531    0.741697    3.014760    0.212928    0.609783    0.360544
std      7.811812    0.438511    0.962137    0.454309    0.922967    0.480977
min     28.000000    0.000000    1.000000    0.000000    0.000000    0.000000
25%     42.000000    0.000000    2.000000    0.000000    0.000000    0.000000
50%     49.000000    1.000000    3.000000    0.000000    0.000000    0.000000
75%     54.000000    1.000000    4.000000    0.000000    1.000000    1.000000
max     66.000000    1.000000    4.000000    2.000000    5.000000    1.000000

In [15]:
print(Data2.isnull().sum())
print(Data2.describe())

#Aunque no tiene valores nulos ni caracteres invalidos como en los anteriores, siguen habiendo problemas, por ejemplo en sex, mientras que la media esta en 3402
#el valor maximo es 1000000, esto hace que estos valores tan altos perjudiquen la media haciendo que afecte al modelo, lo mejor seria eliminar estos valores maximos.
#y predecir el probable valor por medio de sus vecinos mas cercanos. Ademas de todos los problemas anteriormente dichos, se observa un desbalance en los datos.

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64
              age             sex            cp      trestbps          chol  \
count  294.000000      294.000000    294.000000    294.000000    294.000000
mean    47.826531     3402.085034     71.003401    213.425170    357.431973
std      7.811812    58321.141956   1166.249918    977.285035   1823.852372
min     28.000000        0.000000      1.000000     92.000000     85.000000
25%     42.000000        0.000000      2.000000    120.000000    209.000000
50%     49.000000        1.000000      3.000000    130.000000    241.500000
75%     54.000000        1.000000      4.000000    140.000000    281.000000
max     66.000000  1000000.000000  20000.000000  12000.000000  31500.000000

              fbs     restecg       thalach       exang     oldpeak  \
count  294.000000  294.000000    294.000000  294.000000  294.000000
mean     0.078231    0.224490    196.326531    0.302721    0.586054
std      0.268993    0.471667    983.635506    0.460219    0.908648
min      0.000000    0.000000     82.000000    0.000000    0.000000
25%      0.000000    0.000000    122.000000    0.000000    0.000000
50%      0.000000    0.000000    140.000000    0.000000    0.000000
75%      0.000000    0.000000    155.000000    1.000000    1.000000
max      1.000000    2.000000  17000.000000    1.000000    5.000000

            slope     ca        thal  num
count  294.000000  294.0  294.000000  294.000000
mean   146.500000    0.0  -81.900000    0.360544
std     85.014705    0.0   51.009064    0.480977
min      0.000000    0.0 -169.800000    0.000000
25%     73.250000    0.0 -125.850000    0.000000
50%    146.500000    0.0  -81.900000    0.000000
75%    219.750000    0.0  -37.950000    1.000000
max    293.000000    0.0    6.000000    1.000000

In [16]:
print(Data3.isnull().sum())
print(Data3.describe())
#Este dataset parece ser perfecto y estar listo sin necesidad de un preprocesamiento de datos, ya que no tiene un desbalance, valores nulos ni caracteres invalidos, por lo que
#este dataset esta listo para ser usado.

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64
              age         sex          cp    trestbps        chol         fbs  \
count  294.000000  294.000000  294.000000  294.000000  294.000000  294.000000
mean    47.826531    0.727891    2.982993  132.608844  251.360544    0.078231
std      7.811812    0.445804    0.965117   17.601778   71.086156    0.268993
min     28.000000    0.000000    1.000000   92.000000   85.000000    0.000000
25%     42.000000    0.000000    2.000000  120.000000  209.000000    0.000000
50%     49.000000    1.000000    3.000000  130.000000  241.500000    0.000000
75%     54.000000    1.000000    4.000000  140.000000  281.000000    0.000000
max     66.000000    1.000000    4.000000  200.000000  603.000000    1.000000

          restecg     thalach       exang     oldpeak       slope     ca  \
count  294.000000  294.000000  294.000000  294.000000  294.000000  294.0
mean     0.224490  139.081633    0.302721    0.586054  146.500000    0.0
std      0.471667   23.563873    0.460219    0.908648   85.014705    0.0
min      0.000000   82.000000    0.000000    0.000000    0.000000    0.0
25%      0.000000  122.000000    0.000000    0.000000   73.250000    0.0
50%      0.000000  140.000000    0.000000    0.000000  146.500000    0.0
75%      0.000000  155.000000    1.000000    1.000000  219.750000    0.0
max      2.000000  190.000000    1.000000    5.000000  293.000000    0.0

             thal  num
count  294.000000  294.000000
mean   -81.900000    0.360544
std     51.009064    0.480977
min   -169.800000    0.000000
25%   -125.850000    0.000000
50%    -81.900000    0.000000
75%    -37.950000    1.000000
max      6.000000    1.000000

In [18]:
print(Data4.isnull().sum())
print(Data4.describe())
#Este dataset parece ser perfecto y estar listo sin necesidad de un preprocesamiento de datos, ya que no tiene un desbalance, valores nulos ni caracteres invalidos, por lo que
#este dataset esta listo para ser usado

age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
num           0
dtype: int64
              age         sex          cp    trestbps        chol         fbs  \
count  294.000000  294.000000  294.000000  294.000000  294.000000  294.000000
mean    47.826531    0.724490    2.982993  132.642857  247.476190    0.068027
std      7.811812    0.447533    0.965117   17.625755   66.964851    0.252222
min     28.000000    0.000000    1.000000   92.000000   85.000000    0.000000
25%     42.000000    0.000000    2.000000  120.000000  205.250000    0.000000
50%     49.000000    1.000000    3.000000  130.000000  238.000000    0.000000
75%     54.000000    1.000000    4.000000  140.000000  278.500000    0.000000
max     66.000000    1.000000    4.000000  200.000000  603.000000    1.000000

          restecg     thalach       exang     oldpeak  num
count  294.000000  294.000000  294.000000  294.000000  294.000000
mean     0.217687  139.081633    0.302721    0.586054    0.360544
std      0.460257   23.563873    0.460219    0.908648    0.480977
min      0.000000   82.000000    0.000000    0.000000    0.000000
25%      0.000000  122.000000    0.000000    0.000000    0.000000
50%      0.000000  140.000000    0.000000    0.000000    0.000000
75%      0.000000  155.000000    1.000000    1.000000    1.000000
max      2.000000  190.000000    1.000000    5.000000    1.000000